:host {
  height: 100%;
  width: 12%;
  background-color: black;
  // -webkit-mask-size: contain;
  mask-size: contain;
  // -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
.icon-size {
  height: 23px;
  width: 23px;
}
