mat-toolbar {
  position: fixed;
  top: 0;
  left: 0; /* Ensure the toolbar starts from the left edge of the screen */
  right: 0; /* Ensure the toolbar ends at the right edge of the screen */
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-section,
.middle-section,
.right-end-icon {
  display: flex;
  align-items: center;
}

.middle-section {
  flex: 1;
  justify-content: center;
}

.spacer {
  flex: 1;
}

.right-end-icon {
  justify-content: flex-end;
}

.search-container {
  display: flex;
  align-items: center;
  padding-left: 6.6rem;
  width: 18.75rem;
  box-sizing: content-box;
}

.search input[type='text'] {
  transition: width 0.3s ease;
  height: 25px;
  border-radius: 8px;
  border: 1px solid var(--grey);
  outline: none;
  padding: 6px 10px 5px 30px;
}

.search {
  position: relative;
  padding-bottom: 0px;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: grey;
  cursor: pointer;
}

.search-icon.material-icons {
  font-size: 21px;
  width: 15px;
}

::placeholder {
  color: var(--grey);
  padding-left: 5px;
}

@media screen and (min-width: 801px) {
  .sm-menu-icon {
    display: none;
  }
  .lg-menu-icon {
    display: inline-flex;
  }

  .middle-section {
    justify-content: flex-start;
    flex: 0;
    margin-left: 1rem;
  }

  .right-end-icon {
    order: 3;
  }
}

@media screen and (max-width: 800px) {
  .sm-menu-icon {
    display: inline-flex;
  }
  .lg-menu-icon {
    display: none;
  }

  .middle-section {
    flex: 1;
    justify-content: center;
  }
}

.custom-hover-button {
  cursor: pointer;
  &:hover,
  &.active,
  &:active {
    background-color: var(
      --custom-secondary-color
    ); // Change the background color to white on hover and active
  }
}
